/*style service menu*/
.serv_global{
	position: relative;
	top: 300px;
	color: black;
	
	height: 0px;
}
.menu_serv{
	justify-content: center;
	text-align: center;
	align-items: center;
	display: flex;
	position: relative;
	top: 400px;

}
.menu_serv a{
	font-family: impact;
	border-radius: 10px;
	font-size: 20px;
	margin: 20px;
	color: black;
	padding: 20px;
	border:1px solid black;
}
.menu_serv a:hover{
	box-shadow: 0 0 15px rgba(0,0,0,.2);
	font-size: 21px;
}
.menu_serv .csw{
	background-color: black;
	color: white;
}
.sectionn2{
	margin-top: 100px;
}
.services_section{
	margin-top: 350px;
	position:relative;
	background-color: rd;
	
}
.sectionn2 .titre{
	animation-duration: 3s;
    animation-name: slidein;
	background-color: black;
	border-radius: 10px;
	font-size: 50px;
	color: #20D7D8;
	tex-shadow: 0 0 10px black;
	font-family: impact;
}
.definition{
	color: black;
}
		/* CSW */
.details_csw{
	height: auto;
	justify-content: left;
	text-align: left;
	align-items: left;
	background-color: ed;
}
.details_csw h1{
	animation-duration: 3s;
    
	text-decoration: underline;
	position: relative;
	margin: 20px;
	top: 20px;
	color: skyblue;
	font-family: impact;
	
}
.dt_csw{
	box-shadow: 0 0 20px rgba(0,0,0,.2);
	margin:10px;
	height: 200px;
	
}
.dt_csw{
	position: relative;
	height: auto;
	padding: 20px;

}

.dt_csw ul{
	width: 100%;
	font-size: 20px;
	color: black;
	position: relative;
	padding:20px;
	

}
.dt_csw li{
	padding: 10px;
}
.analyse p{
	
	
	top: -30px;
} 
.dt_csw span {
	left: 30px;
	position: relative;
}
.analyse .p1{
	
}
.analyse img{
	position: absolute;
	margin-left: 600px;
	width: 550px;
	height: 800px;
	margin-top: 200px;
}
.analyse h3{
	color: black;
	font-size: 18px;
	margin: 40px;
}
.sup_oppt{
	height:
}
.dt_csw h2{
	animation-duration: 3s;
    
	color: skyblue;
	font-family: impact;
	text-decoration: underline;
	top: 20px;
	margin: 20px;
}
.dev_sur_m{
	height:;
}
.menu_cgd{
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 90%;
    height:1000px;
    padding: 20px;
    background-color: ed;
    position: relative;
    top: 573px;
    margin: auto;

}
.cont_cgd{
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	left: 0;
	position: absolute;
	display: flex;
	margin: auto;
	
}
.box_cgd{
	position: relative;
	width: 358px;
	border: 1px solid grey;
	border-radius: 10px;
	background: linear-gradient(45deg, #64C0FF, white);
	margin: 10px;
	height: 500px;
	overflow: auto;
}
.box_cgd:hover  img{
	opacity: 1;
	cursor: pointer;
}
.box_cgd p{
	font-size: 13px;
}
.box_cgd img{
	width: 100%;
	opacity: 0.5;

}
.box_cgd h2{
	color: #00385C;

}
.box_cgd a{
	border: 2px solid black;
	padding: 10px;
	border-radius: 10px;
	color: black;


	

}
.box_cdg a:hover{


}
.bas_cgd{
	position: relative;
	top: 700px;
}
.menu_assGe{
		text-align: center;
	justify-content: center;
	align-items: center;
	width: 95%;
    padding: 20px;
    background-color: ed;
    position: relative;
    margin: auto;
}
.cont_assGe{
		text-align: center;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	left: 0;
	position: absolute;
	display: flex;
	margin: auto;
	


}

.box_assGe h2{
	color: #FF4383;
}
.box_assGe{
		position: relative;
	width: 340px;
	border: 1px solid black;
	border-radius: 10px;
	background: white;
	margin: 10px;
	height: 600px;
	overflow: auto;
	
}
.box_assGe img{
	width: 100%;
	height: 50%;
	position: relative;

}
.box_assGe a{
	border: 2px solid black;
	padding: 10px;
	border-radius: 10px;
	color: black

}
@keyframes slidein {
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}
}